*{color:blue;}/*Todas las letras en azul*/
p{text-align:center;}/*Los p est치n centrados*/
.miclase {border:solid 1px red;}/*.miclase tiene un reborde continuo en rojo*/
#miidentificador {background-color:cyan;}/*#miidentificador tiene fondo cyan*/
ul li {background-color:gray;}/* ul li tiene fundo gris*/
h1, h2 {border:solid 3px green;}/*h1 y h2 tiene un borde continuo verde*/
p>a {background-color:yellow;}/* los a dentro de un p ser치n subrrallados de amarillo*/
p+div{border:solid 2px blue;}/* los div dentro de un p tendran un reborde continuo azul*/
p[lang="es"] {background-color:red;}/* los p con lang es tendr치n un fondo rojo*/
p[lang="en"] {background-color:orange;}/* los p con lang en tendr치n un fondo naranja*/
/* IMPORTANTE NO PONER ESPACIOS ENTRE LAS CONDICIONES*/